{% extends 'partials/layout.html.twig' %}

{% block content %}

<div id="listed_posts_page">

    <div id="addPost_link"><div id="addPost_button"><a href="index.php?action=addPost">Ajouter un article</a></div></div>

    <h2>Liste des articles</h2>

        {% for article in articles %}
            <a class="listed_article" href="index.php?action=Post&id={{ article.id }}">
                <article class="content_article">
                    <h3>{{ article.titre }}</h3>
                    <p>{{ article.chapo }}</p>
                    <p>{{ article.auteur.nom }} {{ article.auteur.prenom }}, {{ article.date_creation|format('d F Y H:i') }}</p>
                </article>
            </a>
        {% endfor %}

</div>

{% endblock %}
