{% extends 'partials/layout.html.twig' %}

{% block content %}

<section  id="profile">

    <div id="addPost_link"><div class="custom_button red_button"><a href="index.php?action=logout">Se déconnecter</a></div></div>

    <h2>{{ user().nom }} {{ user().prenom }}</h2>
    <p>Adresse : {{ user().email }}</p>
</section>

<section id="my_articles_list">

    <h2>Mes articles rédigés :</h2>

            {% if userArticles %}
            {% for article in userArticles %}

        <div class="posted_article myArticles">
            <div class="myTitle">
                <a class="my_title" href="index.php?action=show-article&id={{ article.id }}" target="_blank">• {{ article.titre }}</a>
            </div>
            <div id="addPost_link">
                <div class="custom_button green_button">
                    <a href="index.php?action=edit-article&id={{ article.id }}" onclick="return confirm('Êtes-vous sûr de vouloir modifier cet article ?');">Modifier</a>
                </div>
                <div class="custom_button red_button">                
                <a href="index.php?action=delete-article&id={{ article.id }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">Supprimer</a>
                </div>
            </div>
        </div>
            {% endfor %}
            {% else %}
        <p>Vous n'avez rédigé aucun article.</p>
            {% endif %}

</section>

{% endblock %}