{% extends 'partials/layout.html.twig' %}

{% block content %}

<div id="post_content">
    <h2>{{ article.titre }}</h2>
    <p><i>{{ article.chapo }}</i></p><br>
    <article>{{ article.contenu|nl2br }}</article><br>
    <div id="auteur_date-crea">
        <p id="auteur">Rédigé par {{ article.auteur.nom }} {{ article.auteur.prenom }},</p>
        {% if article.getDateMaj() != '0000-00-00 00:00:00' %}
        <p class="date-crea">et modifié le {{ article.getDateMaj()|date('j F Y à G:i')|replace({'January': 'Janvier', 'February': 'Février', 'March': 'Mars', 'April': 'Avril', 'May': 'Mai', 'June': 'Juin', 'July': 'Juillet', 'August': 'Août', 'September': 'Septembre', 'October': 'Octobre', 'November': 'Novembre', 'December': 'Décembre'}) }}</p>
        {% else %}
        <p class="date-crea">le {{ article.getDateCreation()|date('j F Y à G:i')|replace({'January': 'Janvier', 'February': 'Février', 'March': 'Mars', 'April': 'Avril', 'May': 'Mai', 'June': 'Juin', 'July': 'Juillet', 'August': 'Août', 'September': 'Septembre', 'October': 'Octobre', 'November': 'Novembre', 'December': 'Décembre'}) }}</p>
        {% endif %}
    </div>
</div>

<div id="comments">
    <h2>Commentaires</h2>
    {% for comment in comments %}
        <div class="comment">
            <h3>4545{{ comment.nom }} {{ comment.prenom }}</h3>
            <p class="comment_txt">dfgd{{ comment.comment }}</p>
            <p class="date_comment">dfg{{ comment.date }}</p>
        </div>
    {% endfor %}

    <div>
    <form id="addComment" action="index.php?action=comment&id={{ article.id }}" method="post">              
            <label for="comment">Ajouter un commentaire :</label>
            <input type="text" id="comment" name="comment" placeholder="Commentaire" autocomplete="off" required><br>

            <button class="bouton" type="submit">Envoyer</button>
        </form>
    </div>
</div>

{% endblock %}
